.section {
    // .section_lastCollection
    &_lastCollection {
    }
}
.container {
    // .container_lastCollection
    &_lastCollection {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 100px;
    }
}

.block-lastCollection {
    // .block_img
    &_img {
        max-width: 600px;
        margin: 0 50px;
        
        img{
            object-fit: contain;
            -webkit-transition: 2s ease;
            -moz-transition: 2s ease; 
            -o-transition: 2s ease; 
        }
        
        .hint-text{
            position: absolute;
                visibility: hidden;
                -webkit-transition: 2s ease;
                -moz-transition: 2s ease;
                -o-transition: 2s ease;
        }
    }

    &_img:hover{
        
        img{
            filter: blur(3px);
        }
        
        .hint-text{
            background-color: aquamarine;
            padding: 5px;
            visibility: visible;
            margin-top: -210px;
            margin-left: 100px;
        }

    }
    // .block_secondaryText
    &_secondaryText {
        display: flex;
        justify-content: left;
        h5{
            font-size: 20px;
        }
    }

    // .block_mainText
    &_mainText{
        display: flex;
        justify-content: left;
        margin-left: 60px;
        h3{
            font-size: 40px;
        }
    }
}
