// Header

// Navbar
nav {
    background-color: rgba(0, 0, 0, 0.0);
    overflow: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

.logo {
    a {
        font-family: 'Courier New', Courier, monospace;
        font-size: 32px;
        font-weight: 500;
        color: black;
    }
}

.menu {
    display: flex;
    // .menu__item
    &__item {
        margin-left: 25px;
    }

    // .menu__item-link
    &__item-link {
        font-family: 'Courier New', Courier, monospace;
        margin-left: 20px;
        font-size: 22px;
        color: black;
        padding: 0 10px;

        &_active {
            background: aquamarine;
            font-family: 'Courier New', Courier, monospace;
            margin-left: 20px;
            font-size: 22px;
            color: black;
            padding: 0 10px;
            
        }
    }

    &__item-link:hover {
        background: aquamarine;
        color: black;
    }
}


.burger {
    display: none;
    cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
    // .menu
    .menu {
        position: fixed;
        background: #131418;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            font-size: 50px;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade 0.1s linear;
        }
    }

    // .burger
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

    // .menu__item
    .menu__item {
        margin: 10px;      
    }

    // .menu__link
    .menu__item-link {
        font-size: 50px;
        color:aquamarine;

        &_active {
            font-size: 50px;
        }
    }
}